<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

       


        <record id="request_costing_menu" model="ir.ui.menu">
            <field name="name">Costing Requests</field>
            <field name="sequence">10</field>
            <field name="parent_id" ref="ges_logistics_request_base.request_request_top_menu"/>
            <field name="action" ref="request_costing_act_window"/>
        </record>

        <record id="request_costing_item_menu" model="ir.ui.menu">
            <field name="name">Costing Items</field>
            <field name="sequence">20</field>
            <field name="parent_id" ref="ges_logistics_request_base.request_request_top_menu"/>
            <field name="action" ref="request_costing_item_act_window"/>
        </record>

    </data>
</odoo>
