<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!--Applications-->
        
        <!--Contact--><!--Configuration-->
        <record id="contacts.res_partner_menu_config" model="ir.ui.menu">
            <field name="name">Configuration</field>
            <field name="sequence">4</field>
            <field name="parent_id" ref="contacts.menu_contacts"/>
        </record>

        <!--Contact--><!--Applications-->
        <record id="res_partner_applications_top_menu" model="ir.ui.menu">
            <field name="name">Applications</field>
            <field name="sequence">3</field>
            <field name="parent_id" ref="contacts.menu_contacts"/>
        </record>
        
        

        <!--Contact--><!--Applications--><!--Applications-->
        <record id="res_partner_applications_applications_menu" model="ir.ui.menu">
            <field name="name">Applications</field>
            <field name="sequence">1</field>
            <field name="parent_id" ref="res_partner_applications_top_menu"/>
            <field name="action" ref="res_partner_application_act_window"/>
        </record>
        <record id="res_partner_applications_attachment_types_menu" model="ir.ui.menu">
            <field name="name">Attachment Types</field>
            <field name="sequence">2</field>
            <field name="parent_id" ref="res_partner_applications_top_menu"/>
            <field name="action" ref="res_partner_application_attachment_type_act_window"/>
        </record>

    </data>
</odoo>
